@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }

  html {
    font-size: 62.5%;
  }

  body {
    @apply text-md font-normal text-primary-grayText min-h-screen antialiased;
  }

  .btn {
    @apply bg-primary-red text-other-white text-md font-bold rounded px-[2.4rem] h-[4.5rem] shadow-md md:hover:scale-105 ease-in-out duration-500;
  }

  .btn-outline {
    @apply bg-other-white text-primary-red text-md font-medium rounded-4xl border border-primary-red px-[2.4rem] h-[4.5rem] md:hover:bg-primary-red md:hover:text-other-white md:hover:shadow-md ease-out duration-300;
  }

  .section {
    @apply max-w-[144rem] mx-auto;
  }

  @media screen and (max-width: 1366px) {
    html {
      font-size: 58.8%;
    }
  }

  @media screen and (max-width: 1280px) {
    html {
      font-size: 55%;
    }
  }

  @media screen and (max-width: 1080px) {
    html {
      font-size: 50%;
    }
  }
}
